.Details{
    border-style: solid;
    padding: 20px;
    border-radius: 30px;
    background-color: transparent;
    color: white;

}
.back{
    background-image: url('https://i.pinimg.com/originals/0b/35/71/0b35711f903742a0623698cc9ce7ec65.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain,cover;
    background-size: 100%;
    transition-delay: 3s;
    animation-delay: 5s;
    height: 100%;
    padding: 10%;
}

button{
    margin-left: 10px;
}