.Details{
    border-style: solid;
    padding: 20px;
    border-radius: 30px;
    background-color: transparent;
    color: white;

}
.back{
    background-image: url('https://cdn6.hifigif.cc/picture/original/nUE0pUZ6Yl90nUIgLaZhM_M5L_S0YzAioF9SrTAyoTkyoaEDo_kcqTIOoKObnKIgLF1mnKcyK3Wyp3ElnJA0MJDhM_yzXFfbXRucEzyUFHLhL_ZcK_I-L_IfoTIhqUOioTy0MJSgpTucqJ1uYKAcrzHgpzImqUWcL3EyMP5anJL5v7P/(HiFiGIF.cc)_snowy-forest-wallpaper-full.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain,cover;
    background-size: 100%;
    transition-delay: 3s;
    animation-delay: 5s;
    height: 100%;
    padding: 10%;
}

button{
    margin-left: 10px;
}