.dataForm{
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    height: 60%;
    width: 30%;
    margin-left:auto;
    margin-right:auto; 
    margin-top: 5%; 
    vertical-align:middle;
    position: relative;
    border-color: transparent;
    background-color: papayawhip;
}
button{
    margin: 2px;
    float: left;
}